@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'azeret-mono', monospace;
}
/* Header section starts */
#header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1140px;
    margin: 38px auto;
}
#header > h1{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 28px;
    font-weight: 800;
    line-height: 33px;
    letter-spacing: 0%;
    text-align: left;
}
#header > button{
    background-color: white;
    box-sizing: border-box;
    border: 1px solid rgb(13, 19, 33);
    border-radius: 8px;
    opacity: 0.8;
    padding: 17px 24px 17px 24px;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: center;
    cursor: pointer;
}
#hero-section{
    background-image: url("../assets/Hero-bg.png");
    height: 652px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#inside-hero-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 998px;
}
#inside-hero-section > h1{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 48px;
    font-weight: 800;
    line-height: 68px;
    letter-spacing: 0%;
    text-align: center;
}
#inside-hero-section > p{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
}
#inside-hero-section  button{
    color: rgb(255, 255, 255);
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: center;
    padding: 21px 24px 21px 24px;
    border-radius: 8px;
    background: rgb(13, 19, 33);
    margin-top: 32px;
    cursor: pointer;
}
/* Header section ends */
/* Main section starts */
#why-web-dev{
    width: 1140px;
    margin: 75px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(13, 19, 33, 0.02);
    border-radius: 16px;
}
#web-dev{
    width: 946px;
    padding: 80px 97px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}
#web-dev > h1{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 800;
    line-height: 37px;
    letter-spacing: 0%;
    text-align: center;
}
#web-dev > p{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.7;
    padding: 48px;
}
#web-dev > .my-services{
    display: flex;
    justify-content: space-between;
    padding: 48px;
    border-radius: 16px;
}
.my-service-1, .my-service-3{
    background: linear-gradient(to left, rgba(255,255,255,0), rgb(255, 255, 255));
}
.my-service-2{
    background: linear-gradient(to right, rgba(255,255,255,0), rgb(255, 255, 255));
}
.my-services > .info{
    width: 477px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
}
.learn-more-btn{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: center;
    padding: 12px 20px 12px 20px;
    box-sizing: border-box;
    border: 1px solid rgb(13, 19, 33);
    opacity: 0.7;
    background-color: transparent;

}
#inspiration{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 1140px;
    margin: 88px auto;
}
#inspiration > h1{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 800;
    line-height: 37px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 24px;
}
#inspiration > p{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
}
#inspiration > #video-container{
    position: static;
    width: 1140px;
    height: 614px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 32px;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    margin: 48px 0px;
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.2);
    border-radius: 16px;

}
#current-target{
    width: 1140px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 88px auto;
}
#current-target > h1{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 800;
    line-height: 37px;
    letter-spacing: 0%;
    text-align: center;
}
#current-target > p{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
    margin-top: 24px;
    margin-bottom: 48px;
}
#current-target > #current-card-container{
    display: flex;
    gap: 24px;
}
#current-card-container > .current-card{
    border-radius: 16px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 15px;
}
.current-card > h1{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight: 800;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: left;
}
.current-card > p{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: left;
}
.current-card > a{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: left;
    text-decoration-line: underline;
}
#current-1{
    background-color: rgba(255, 76, 30, 0.05);
}
#current-2{
    background-color: rgba(0, 76, 232, 0.05);
}
#current-3{
    background-color: rgba(255, 223, 0, 0.05);
}
#support{
    width: 1140px;
    margin: 80px auto ;
    border-radius: 16px;
    background-image: url('../assets/handshake.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.622);
}
#support > #inside-support{
    padding: 64px 48px 64px 48px;;
}
#inside-support > h1{
    color: rgb(255, 255, 255);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: center;
}
#inside-support > p{
    color: rgb(255, 255, 255);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.7;
    margin-top: 16px;
}
#input-container{
    margin-top: 24px;
}
#input-container > input{
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 8px;
    background: rgb(255, 255, 255);
    padding: 19px 20px 19px 20px;
    width: 548px;
    color: rgba(13, 19, 33, 0.4);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0%;
}
#input-container > button{
    border-radius: 8px;
    background: rgb(255, 255, 255);
    padding: 17px 20px 17px 20px;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: center;
}
/* Main section ends */
/* Footer section starts */
footer{
    background-color: rgba(13, 19, 33, 0.03);
}
#inside-footer{
    margin: 0 auto;
    width: 1140px;
    padding: 32px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
footer a{
    text-decoration: none;
}
/* Footer section ends */
