@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'azeret-mono', monospace;
}
/* Header section starts */
#header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1140px;
    margin: 38px auto;
}
#header > h1{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 28px;
    font-weight: 800;
    line-height: 33px;
    letter-spacing: 0%;
    text-align: left;
}
#header > button{
    background-color: white;
    box-sizing: border-box;
    border: 1px solid rgb(13, 19, 33);
    border-radius: 8px;
    opacity: 0.8;
    padding: 17px 24px 17px 24px;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: center;
    cursor: pointer;
}
#hero-section{
    background-image: url("../assets/Hero-bg.png");
    height: 652px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#inside-hero-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 998px;
}
#inside-hero-section > h1{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 48px;
    font-weight: 800;
    line-height: 68px;
    letter-spacing: 0%;
    text-align: center;
}
#inside-hero-section > p{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
}
#inside-hero-section > button{
    color: rgb(255, 255, 255);
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: center;
    padding: 21px 24px 21px 24px;
    border-radius: 8px;
    background: rgb(13, 19, 33);
    margin-top: 32px;
    cursor: pointer;
}
/* Header section ends */
/* Main section starts */
/* Main section endss */